<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
{#    {% load myfilter %}#}
    <meta name="viewport" content="width=device-width, initial-scale=1,
maximum-scale=1, user-scalable=no">
    <link href="https://cdn.bootcss.com/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                书籍列表
            </div>

            <div class="panel-body table-responsive">
                <div class="pull-right">
                    <button type="button" class="btn btn-success">新增</button>
                    <button type="button" class="btn btn-danger">删除</button>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>作者</th>
                        <th>书名</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ html|sb }}
                        </td>
                        <td>文杰</td>
                        <td>喜欢</td>
                        <td>喜欢</td>

                    </tr>
                    </tbody>
                </table>
                <!--分页开始-->
                 <nav aria-label="Page navigation" class="pull-right">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
          <!--分页结束-->
            </div>


        </div>
    </div>
</div>

</body>
</html>